.flex {
  display: flex;
}

.container {
  min-height: 100vh;
  flex-direction: column;
}

.container img {
  /* sd forward logo */
  align-self: flex-start;
}

.header {
  border-bottom: 14px solid #1869a9;
  margin: 0 0 10px 0;
}

.content {
  align-items: stretch;
  flex: 1;
  /* overflow-x: hidden; */
  overflow:hidden;
}

.column {
  align-items: center;
  flex: 1;
  flex-direction: column;
  width: auto;
  position: relative;
  /* overflow: hidden; */
  overflow-x: auto;

}

.column.fixed-270 {
  /* width: 345px; */
  width: 375px;
  /* width: 300px; */
  position: absolute;
  z-index: 20;
  opacity: 0;
  /* background-color: white; */
}

.row {
  align-items: stretch;
  flex: 1;
  height: auto;
  width: 100%;
}

.row.fixed-100 {
  height: 110px;
  max-height: 110px;
  /* z-index: 99; NP*/
  background: black;
  /* max-width: 994px; */
  overflow: auto;
  /* margin-bottom: 100px; */
  overflow-y: hidden;
  padding-bottom: 15px;
}

body {
  overscroll-behavior-y: none;
  touch-action: pan-x, pan-y;
  overflow-x: hidden;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

/* --------------- Nancy P. stage background -------------- */
.content {
  position: relative;
  height: 710px;
  -webkit-box-shadow: 0 23px 21px -9px rgb(0 0 0 / 50%);
  box-shadow: 0 23px 21px -9px rgb(0 0 0 / 50%);
}
.content img:nth-of-type(1),
img:nth-of-type(2) {
  position: absolute;
  /* height: 100%;
  width: auto; */
  overflow: hidden;
  z-index: -999;
}
@media (min-width: 768px) {
  .content img:nth-of-type(1),
  img:nth-of-type(2) {
    width: 720px;
  }
  /* .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  } */
  body {
    overflow-x: auto;
  }

  .unsupported .unsupported-message {
    padding: 0 30%;
  }
}

@media only screen and (min-width: 1025px) {
  .content img:nth-of-type(1),
  img:nth-of-type(2) {
    max-width: 994px;
  }

  img:nth-of-type(2) {
    bottom: -69px;
    left: 2px;
  }
}

@media (min-width: 992px) {
  .content img:nth-of-type(1),
  img:nth-of-type(2) {
    width: 940px;
  }
  img:nth-of-type(2) {
    bottom: 147px;
    left: 2px;
  }
}

@media (min-width: 1200px) {
  .content img:nth-of-type(1),
  img:nth-of-type(2) {
    width: 1140px;
  }
  img:nth-of-type(2) {
    bottom: 115px;
  }
}

/* --------------- Nancy P. stage background -------------- */

.categories {
  width: 165px;
  height: 46px;
  background: transparent
    linear-gradient(180deg, #fa68a6 0%, #e04d8b 50%, #98345e 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000072;
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 18px !important;
  font-weight: 700 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font: normal normal 600 16px/19px Montserrat;
  pointer-events: all;
}

.categories:hover {
  background: white;
  color: #e04d8b;
  border: #e04d8b solid 1px;
}
.categories:hover svg .a {
  fill: #e04d8b;
}
.categories svg {
  margin-right: 5px;
  height: 18px;
}

.year:last-of-type hr {
  display: none;
}

.current-era {
  font-family: Montserrat;
  font-size: 22px;
  position: absolute;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.current-era-tooltip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.current-era-tooltip-container .tooltip {
  font-size: 18px;
  z-index: 1;
}

.current-era div:first-child {
  font-weight: bold
}

.current-era .tooltip {
  position: relative;
  background: transparent;
  display: flex;
  padding: 0 10px;
}

.current-era .tooltiptext {
  position: absolute;
  top: 150%;
  left: 56%;
  visibility: hidden;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 6px;
  width: 350px;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px 18px;
  position: absolute;
  margin-left: -45px;
  font: normal normal 400 16px/23px Montserrat !important;
  letter-spacing: 0px;
  color: #031620;
}

.current-era .tooltiptext::after {
  content: "";
  width: 10px;
  height: 10px;
  z-index: -1;
  bottom: -5px;
  transform: rotate(45deg);
  box-shadow: 1.5px 1.5px 2px #00000029;
  top: -3px;
  left: 36px;
  position: absolute;
  background: white;
}

.current-era .tooltip:hover .tooltiptext {
  visibility: visible;
}

.current-era .tooltip:hover .tooltiptext {
  visibility: visible;
}

.current-era .tooltip svg:nth-of-type(2) {
  display: none;
}

.current-era .tooltip:hover svg:nth-of-type(1) {
  display: none;
}
.current-era .tooltip:hover svg:nth-of-type(2) {
  display: block !important;
}

.fixed {
  position: fixed;
  margin: 20px 0 0 41px;
  z-index: 10;
}

.category-quick-look {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  padding-top: 16px;
  width: 240px;
  pointer-events: all;
}

.category-quick-look .category-quick-look-selected {
  display: flex;
  flex-wrap: wrap;
}

.category-quick-look .category-quick-look-selected div {
  margin: 10px 10px 10px 0;
  display: flex;
  align-content: center;
  color: #094971;
}

.category-quick-look .category-quick-look-selected div svg {
  cursor: pointer;
  margin: 2px 6px 0 0;
}

/* DISCLAIMER */
.disclaimer {
  position: relative;
  width: fit-content;
  display: flex;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  align-items: center;
  margin: 40px auto;
}
.disclaimer .tooltip {
  right: 0;
  padding: 0;
  background: none;
  position: relative;
  cursor: pointer;
}
.disclaimer .tooltip svg {
  color: #9a2577;
  height: 16px;
  width: 16px;
  margin-left: 6px;
}
.disclaimer .tooltip svg:nth-of-type(2) {
  display: none;
}
.disclaimer .tooltip:hover svg:nth-of-type(2) {
  display: block;
}
.disclaimer .tooltip:hover svg:nth-of-type(1) {
  display: none;
}

.disclaimer .tooltip .tooltiptext {
  visibility: hidden;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 6px;
  width: 350px;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px 18px;
  position: absolute;
  /* margin-left: -80px; */
  font: normal normal 400 16px/23px Montserrat !important;
  letter-spacing: 0px;
  color: #031620;
  bottom: 30px;
  left: -325%;
}
.disclaimer .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  /* z-index: -1; */
  bottom: -5px;
  transform: rotate(45deg);
  left: 23%;
  box-shadow: 1.5px 1.5px 2px #00000029;
}
.disclaimer .tooltip:hover .tooltiptext {
  visibility: visible;
}

.unsupported {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  background-color: rgb(255 255 255 / 85%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.unsupported .unsupported-message {
  padding: 0 10%;
}

@media screen and (max-width: 760px) {
  .disclaimer .tooltip .tooltiptext {
    width: 200px;
  }
}