.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container img { /* sd forward logo */
  align-self: flex-start;
}

.content {
  display: flex;
  align-items: stretch;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  flex: 1;
}

p {
  margin: 0.25em;
}


.sidebar, .stage {
  align-items: center;
  flex: 1;
}

.sidebar {
  width: 300px;
  max-width: 300px;
}

.stage {
  width: auto;
}
