@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}