.tl-summ {
  font: normal normal normal 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
}

button.about {
  font: normal normal 600 22px/26px Montserrat;
letter-spacing: 0px;
color: #9A2477;
}

.about span {
  position: relative;
  margin-left: 10px;
}

.about span svg {
  position: absolute;
  top: 4px;
}