.tooltip {
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  .close button svg {
    color: #000;
  }

  .description {
    font-size: 14px;
    max-width: 160px;
    width: 100%;
  }
}
