.background-hint {
  position: absolute;
  right: 1em;
  bottom: 15em;
  width: 180px;
  font-size: 14px;
  display: flex;

  .icon {
    font-size: 18px;
    color: #E04D8B;
    display: flex;
    align-items: center;
    flex-direction: column;

    .action-container {
      font-size: 10px;

      .action {
        width: 1px;
        height: 6px;
        background-color: #fff;
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 2px;
      }

      .action:first-child {
        transform: rotate(335deg);
        margin-bottom: 0px;
      }

      .action:last-child {
        transform: rotate(25deg);
        margin-bottom: 0px;
      }
    }
  }

  .hint {
    padding-left: 4px;
  }
}
