.background-blur {
  background: url('../assets/whitebackground@2x.png');
  background-size: 370px 250px;
  background-position: -40px 0px;
  background-repeat: no-repeat;

  margin: 0;
  padding: 20px 0 0 41px;
  width: 400px;
  height: 300px;
}
