.eventPopupWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: rgb(255 255 255 / 50%);
  z-index: 10;
}

.eventPopup {
  position: absolute;
  z-index: 10;
  top: 8em;
  left: 50%;
  background: black;
  color: white;
  text-align: center;
  width: 20em;
  margin-left: -10em;
  padding: 1em;
  font-size: 0.8em;
}

.eventPopup .close svg {
  color: white
}
