.sidebar{
  padding: 0px 70px 20px 15px;
  position: relative;
  background-color: white;
  height: 100%;
}

.close{
position: absolute;
right: 15px;
top: 26px;
}

.close svg {
  width:22px;
  color: #1869a9;
}

.sidebar-title {
  color: #9a2577;
  font-size: 0.8em;
  font-weight: bold;
}

.sidebar-label {
  color: #1869a9;
  font-size: 0.5em;
  font-weight: bold;
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.sidebar-label p {
  margin: 0;
}

.selected-sectors {
  display: flex;
  flex-wrap: wrap;
}

.sector-filter-tag, .key-sector-selector, .all-sector-selector {
  font-size: 0.5em;
  height: 1.5em;
  align-items: center;
  display: flex;
}

.sector-filter-tag svg, .key-sector-selector svg, .all-sector-selector svg {
  cursor: pointer;
}

.sector-filter-tag {
  width: 100px;
}

.sector-filter-tag svg {
  /* padding: 0 0.25em 0 0; */
  margin-top: 3px;
}

.key-sector-selector {
  font-size: 0.5em;
}

.all-sector-selector {
  font-size: 0.5em;
}

.key-sector-selector-item,
.all-sector-selector-item {
  padding: 0 0.5em;
}
.clear{
  text-decoration: underline;
  cursor: pointer;
  color: #1869a9;
}


.empty {
  color: #9a2577;
  font-size: 0.5em;
  font-style: italic;
}

.active-sectors svg, .all-sectors svg {
  color: #9a2577;

}

/* .selected-sectors::after {
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='181' height='1' viewBox='0 0 181 1'><defs><style>.a{fill:none;stroke:rgba(43,43,43,0.4);stroke-linecap:round;}</style></defs><line class='a' x1='180' transform='translate(0.5 0.5)'/></svg>");
} */

