#sidebar{
  padding: 20px 10px 20px 15px;
  position: relative;
  background-color: white;
  height: 700px;
  z-index: 0;
}
.fixed-270.show {
  transform: translate3d(0vw, 0, 0);
  opacity: 1;
  transition: all 300ms ease;
} 
.fixed-270.hide {
  transform: translate3d(-100vw, 0, 0);
  transition: all 300ms ease;
}

.close{
height: 18px;
}

.close svg {
  width:22px;
  color: #1869a9;
}

.sidebar-title {
  color: #9a2577;
  font-size: 0.8em;
  font-weight: bold;
}

.sidebar-label {
  color: #1869a9;
  font-size: 0.5em;
  font-weight: bold;
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-label p {
  margin: 0;
}

.selected-sectors {
  display: flex;
  flex-wrap: wrap;
}

.sector-filter-tag, .key-sector-selector, .all-sector-selector {
  font-size: 0.5em;
  height: 1.5em;
  align-items: center;
  display: flex;
}

.sector-filter-tag svg, .key-sector-selector svg, .all-sector-selector svg {
  cursor: pointer;
}

.sector-filter-tag {
  margin: 0 10px 8px 0;
}

.sector-filter-tag svg {
  /* padding: 0 0.25em 0 0; */
  margin-top: 3px;
}

.key-sector-selector {
  font-size: 0.5em;
  position: relative;
}

.all-sector-selector {
  font-size: 0.5em;
}

.key-sector-selector-item,
.all-sector-selector-item {
  padding: 0 8px 0 11px;
}
.clear{
  text-decoration: underline;
  cursor: pointer;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #196CAA;
  padding-left: 45px;
}


.empty {
  color: #9a2577;
  font-size: 0.5em;
  font-style: italic;
}

.active-sectors svg, .all-sectors svg {
  color: #9a2577;
  height: 11px;
  width: 11px;
}

/* .selected-sectors::after {
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='181' height='1' viewBox='0 0 181 1'><defs><style>.a{fill:none;stroke:rgba(43,43,43,0.4);stroke-linecap:round;}</style></defs><line class='a' x1='180' transform='translate(0.5 0.5)'/></svg>");
} */
#sidebar span, .sector-filter-tag {
  font: normal normal normal 13px/16px Montserrat;
letter-spacing: 0px;
color: #2B2B2B;
}

.sidebar-label > p {
  font: normal normal 600 15px/19px Montserrat;
letter-spacing: 0px;
color: #186BA9;
}

.sidebar-label > button {
  color: #186BA9;
  padding-top: 3px;
}

.sidebar-label span {
  font: normal normal normal 9px/11px Montserrat !important;
  padding-left: 10px;
}

/* checkbox */
input.checkbox-input {
  z-index: 999;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
span.checkbox-custom {
  position: absolute;
  width: 15px;
  height: 15px;
  color: aqua;
  background: none;
  border: 1px solid #2B2B2B65;
  opacity: 1;
}
.checkbox-custom {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: inherit;
  color: red;
  border: 2px solid #666;
}

.checkbox-input:checked+.checkbox-custom:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background-color: #2B2B2B;
}
/* checkbox end */

.selected-sectors:after {
  content: "";
  width: 80%;
  border-bottom: 1px solid #2B2B2B66;
  margin-top: 17px;
}

.key-sector-selector, .all-sector-selector {
  margin: 13px 0px;
}

div#sidebar .sidebar-label:nth-of-type(1) {
  margin-top: 0;
}
.sector-filter-tag button {
  padding-left: 0;
}

#sidebar .tooltip {
  position: relative;


  /* resetting styles from Dereks background tooltip style */
  z-index: 0;
  border-radius: 0;
  background: none;
  padding: 3px 0 0 0;
  display: block;
  flex-flow: unset;
  justify-content: unset;
}

/* .tooltip:hover svg{
  fill: white;
  background-color: #9a2577;
  border-radius: .5em;
} */

#sidebar .tooltip .tooltiptext {
  visibility: hidden;
  box-shadow: 0px 1px 2px #00000029;
  border-radius: 6px;
  width: 200px;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 10px 18px;
  position: absolute;
  /* z-index: 1; */
  bottom: 150%;
  left: 150%;
  margin-left: -60px;
  font: normal normal 600 8px/11px Montserrat !important;
letter-spacing: 0px;
color: #031620;
}

#sidebar .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 24%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
#sidebar .tooltip .tooltiptext::before{
  content: "";
  position: absolute;
  background: white;
  width: 10px;
  height: 10px;
  z-index: -1;
  bottom: -6px;
  transform: rotate(45deg);
  left: 23%;
  box-shadow: 0px 1.5px 2px #00000029;
}

#sidebar .tooltip:hover .tooltiptext {
  visibility: visible;
}