.years {
  display: flex;
}

.years div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 25px; */
  padding-left: 50px;
}

.years div p {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #2ca5ff;
  opacity: 1;
  margin: 0;
  padding: 20px 0 11px 0;
}

button:focus {
  outline: none;
}
button.decade.show {
  border: 2px solid #e04d8b;
  color: #e04d8b;
  background: none;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  font-size: 23px;
  background: black;
}

button.decade.hide {
  // background: transparent
  //   linear-gradient(180deg, #89cdff 0%, #2ca5ff 31%, #1f74b3 69%, #175888 100%)
  //   0% 0% no-repeat padding-box;
  // width: 26px;
  height: 26px;
  // border-radius: 13px;
  // border: 0px;
  // color: #072236;
  // font-size: 23px;
  // padding: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

/* width */
.row.fixed-100::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.row.fixed-100::-webkit-scrollbar-track {
  height: 5px;
  background-color: #c3c3c3;
}

/* Handle */
.row.fixed-100::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.row.fixed-100::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.year {
  position: relative;
}
button.decade {
  z-index: 1;
}

.solid,
.dash {
  width: 100%;
  position: absolute;
  border: 0 none;
  height: 0;
  left: 75px;
  /* z-index: -99999; */
  top: 57px;
  background: none;
}
.solid {
  border-top: 2px solid #2ca5ff;
}

.dash {
  border-top: 2px dotted #e04d8b;
}

.year .left {
  padding: 0;
}
.years .year {
  display: flex;
  flex-direction: row;
}

.year .right {
  flex-direction: row;
}

.right div {
  padding: 0 15px;
}

.right div button {
  text-decoration: underline;
  font: normal normal normal 17px/20px Montserrat;
  letter-spacing: 0px;
  color: #e04d8b;
  padding: 20px 0 3px 0;
}

.right .vl {
  height: 18px;
  border-right: 2px dotted #e04d8b;
  padding: 0;
  margin-bottom: 15px;
}

.year:last-of-type {
  padding-right: 50px;
}
.year:last-of-type hr {
  display: none;
}

// .year:last-of-type.active{
//   padding-right:0;
// }
/*
.years div:last-of-type hr{
  display: none;
} */

button.decade {
  position: relative;
}
.years .decade.show svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
}
.years .decade.hide svg {
  width: 26px;
  height: 26px;
}

.y-res {
  width: 70px;
}

.solid {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.solid.hide {
  opacity: 0;
}

/* .right {
  display: flex;
  overflow:hidden;
  transition:max-width 1.5s ease-out;
  height:auto;
  max-width:600px;
  margin: 0;
  padding: 0;
} */
.right.collapsed {
  margin: 0;
  padding: 0;
  width: 0;
  /* transition:max-width 3s linear;
  -webkit-transition:max-width 3s linear;
  -moz-transition: max-width 3s linear;
  -ms-transition: max-width 3s linear;
  -o-transition: max-width 3s linear; */
  animation: subyearclose 0.3s ease;
}
@keyframes subyearclose {
  from {
    width: 300px;
  }
  to {
    width: 0;
  }
}

.right.open {
  display: flex;
  overflow: hidden;
  width: 300px;
  /* transition:max-width 3s linear;
  -webkit-transition:max-width 3s linear;
  -moz-transition: max-width 3s linear;
  -ms-transition: max-width 3s linear;
  -o-transition: max-width 3s linear; */
  animation: subyear 0.3s ease-out;
  height: auto;
  margin: 0;
  padding-left: 20px;
  /* animation-delay: -.2s; */
}
@keyframes subyear {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

$yearCounts: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $count in $yearCounts {
  .right.open-#{$count} {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: auto;
    margin: 0;
    padding-left: 0px;
    margin-left: 50px;
    width: #{70px * $count};
    animation: subyear-#{$count} 0.3s ease-out;

  }

  .year:last-of-type.active .right.open-#{$count} hr.dash {
    display: block;
    width: 75%;
  }

  @keyframes subyear-#{$count} {
    from {
      width: 0;
    }
    to {
      width: #{70px * $count};
    }
  }

  .right.collapsed-#{$count} {
    margin: 0;
    padding: 0;
    width: 0;
    animation: subyearclose-#{$count} 0.3s ease;
  }
  @keyframes subyearclose-#{$count} {
    from {
      width: #{70px * $count};
    }
    to {
      width: 0;
    }
  }
}

// ---------- indicator -----------
$menu-items: 19; //number of decades
$menu-items-loop-offset: $menu-items - 1;


.years {
  max-width: 1000px;
}

.year {
  &.selected .left {
    &::before {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      // transition: #{$transition-speed} ease;
      border: 12px solid transparent;
      border-top-color: #e04d8b;
      width: 0;
      height: 0;
      top: 0;
      left: 64px;
      margin-left: -3px;
    }
  }
}

$width: (100 - $menu-items) * 1%;
@for $i from 1 through $menu-items-loop-offset {
  // when the Nav item "is active", make the indicator line up with the navigation item.
  .year:nth-child(#{$i}).active ~ .year:last-child .left:before{
    // left:($width*$i)+($width/2)-$width;
    font-size: #{$i}px;
    left: -100px;
  }

  // ~ .year:last-child .left:before
  // {
  //   left:-200px; // this ensures the triangle lines up to the menu.
  // }
}

