.years {
  display: flex;
}

.years div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 25px; */
  padding-left: 50px;
}

.years div p {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #2ca5ff;
  opacity: 1;
  margin: 0;
  padding: 20px 0 11px 0;
}

button:focus
{
    outline:none;
}
button.decade.show {
  border: 2px solid #e04d8b;
  color: #e04d8b;
  background: none;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  font-size: 23px;
  background: black;
}

button.decade.hide {
  background: transparent
    linear-gradient(180deg, #89cdff 0%, #2ca5ff 31%, #1f74b3 69%, #175888 100%)
    0% 0% no-repeat padding-box;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  border: 0px;
  color: #072236;
  font-size: 23px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
.row.fixed-100::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.row.fixed-100::-webkit-scrollbar-track {
  height: 5px;
  background-color: transparent;
}

/* Handle */
.row.fixed-100::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.row.fixed-100::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.year {
  position: relative;
}

.solid, .dash {
  width: 100%;
  position: absolute;
  border: 0 none;
  height:0;
  left:75px;
  z-index: -99999;
  top: 52px;
  background: none;
}
.solid {
  border-top: 2px solid #2CA5FF;
}

.dash {
  border-top: 2px dotted #E04D8B;
}

.year .left {
  padding: 0;
}
.years .year {
  display: flex;
  flex-direction: row;
}

.year .right {
  flex-direction: row;
}

.right div {
  padding: 0 15px;
}

.right div button {
  text-decoration: underline;
  font: normal normal normal 17px/20px Montserrat;
  letter-spacing: 0px;
  color: #E04D8B;
  padding: 20px 0 3px 0;
}

.right .vl {
  height: 18px;
  border-right: 2px dotted #E04D8B;
  padding: 0;
  margin-bottom: 17px;
}

.year:last-of-type {
  padding-right: 50px;
}

.years div:last-of-type hr{
  display: none;
}

button.decade {
  position: relative;
}
.years .decade.show svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
}
.years .decade.hide svg {
  /* position: absolute; */
  top: 2px;
  left: 1px;
  padding: 1.5px;
}